<a class="badge badge-pill
    {% if task.priority == 'TaskPriority.CRITICAL' %}
        badge-danger
    {% elif task.priority == 'TaskPriority.IMPORTANT' %}
        badge-warning
    {% elif task.priority == 'TaskPriority.NORMAL' %}
        badge-primary
    {% elif task.priority == 'TaskPriority.LOW' %}
        badge-secondary
    {% endif %}
" href="{% url 'tasks:detail' task.id %}">
    #{{ task.id }}
    {% if task.completed %}<small class="oi oi-check"></small>{% endif %}
    {% if task.archived %}<small class="oi oi-box"></small>{% endif %}
    {{ task.text|truncatechars:20 }}
    {% if task.labels %}<small class="oi oi-tags"></small> {{ task.labels|length }}{% endif %}
    {% if task.members %}<small class="oi oi-people"></small> {{ task.members|length }}{% endif %}
    {% if task.blocking_tasks %}<small class="oi oi-lock-locked"></small> {{ task.blocking_tasks|length }}{% endif %}
    {% if task.target_tasks %}<small class="oi oi-flash"></small> {{ task.target_tasks|length }}{% endif %}
</a>
