{% extends 'tasks/base.html' %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
    <script src="{% static 'tasks/search.js' %}"></script>
    <div class="container py-3">
        <form action="{% url 'tasks:create' %}" method="POST">
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% csrf_token %}
            <div class="form-group">
                {{ form.text.label_tag }}
                {% if form.text.errors %}
                    {{ form.text|add_class:'form-control is-invalid'|attr:'rows:3' }}
                    <div class="invalid-feedback">{{ form.text.errors }}</div>
                {% else %}
                    {{ form.text|add_class:'form-control'|attr:'rows:3' }}
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ form.from_time.label_tag }}
                        {% if form.from_time.errors %}
                            {{ form.from_time|add_class:'form-control mb-2 is-invalid' }}
                            <div class="invalid-feedback">{{ form.from_time.errors }}</div>
                        {% else %}
                            {{ form.from_time|add_class:'form-control mb-2' }}
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form.to_time.label_tag }}
                        {% if form.to_time.errors %}
                            {{ form.to_time|add_class:'form-control mb-2 is-invalid' }}
                            <div class="invalid-feedback">{{ form.to_time.errors }}</div>
                        {% else %}
                            {{ form.to_time|add_class:'form-control mb-2' }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.labels.label_tag }}
                {% if form.labels.errors %}
                    {{ form.labels|add_class:'form-control is-invalid'|attr:'placeholder:label.sublabel labs.tas edu.tas' }}
                    <div class="invalid-feedback">{{ form.labels.errors }}</div>
                {% else %}
                    {{ form.labels|add_class:'form-control'|attr:'placeholder:label.sublabel labs.tas edu.tas' }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.members.label_tag }}
                {% if form.members.errors %}
                    {{ form.members|add_class:'form-control is-invalid' }}
                    <div class="invalid-feedback">{{ form.members.errors }}</div>
                {% else %}
                    {{ form.members|add_class:'form-control' }}
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ form.blocking_tasks.label_tag }}
                        <div class="dropdown">
                            <input type="text" class="form-control mb-2" id="{{ form.blocking_tasks.id_for_label }}" placeholder="Task search query" data-toggle="dropdown" autocomplete="off">
                            <div class="dropdown-menu" style="width: 100%;"></div>
                        </div>
                        <ul class="list-group mb-2" id="list-blocking-tasks"></ul>
                        {% if form.blocking_tasks.errors %}
                            <div class="invalid-feedback">{{ form.blocking_tasks.errors }}</div>
                        {% endif %}
                        <script>
                            document.addEventListener('DOMContentLoaded', () => {
                                const search = document.querySelector('#{{ form.blocking_tasks.id_for_label }}');
                                const menu = search.nextElementSibling;
                                const list = document.querySelector('#list-blocking-tasks');
                                const searchController = new SearchController();
                                search.addEventListener(
                                    'input',
                                    e => {
                                        searchController.search(e.target.value)
                                            .then(
                                                tasks => {
                                                    menu.innerHTML = '';
                                                    for (const task of tasks) {
                                                        const item = document.createElement('button');
                                                        item.className = 'dropdown-item';
                                                        item.setAttribute('type', 'button');
                                                        item.setAttribute('data-id', task.id);
                                                        item.innerHTML = `#${task.id} ${task.text}`;
                                                        item.addEventListener(
                                                            'click',
                                                            e => {
                                                                let item = list.querySelector(`[data-id="${task.id}"]`);
                                                                if (item) return;

                                                                item = document.createElement('li');
                                                                item.className = 'list-group-item d-flex justify-content-between align-items-center';
                                                                item.setAttribute('data-id', task.id);
                                                                item.innerHTML = `
                                                                <input type="hidden" name="blocking_tasks" value="${task.id}" />
                                                                #${task.id} ${task.text}
                                                                `;

                                                                const remove = document.createElement('button');
                                                                remove.setAttribute('type', 'button');
                                                                remove.className = 'btn btn-danger btn-sm';
                                                                remove.innerHTML = '<span class="oi oi-x"></span>';
                                                                remove.addEventListener('click', e => item.remove());

                                                                item.appendChild(remove);
                                                                list.appendChild(item);
                                                            },
                                                        );
                                                        menu.appendChild(item);
                                                    }
                                                }
                                            );
                                    }
                                );
                            });
                        </script>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form.target_tasks.label_tag }}
                        <div class="dropdown">
                            <input type="text" class="form-control mb-2" id="{{ form.target_tasks.id_for_label }}" placeholder="Task search query" data-toggle="dropdown" autocomplete="off">
                            <div class="dropdown-menu" style="width: 100%;"></div>
                        </div>
                        <ul class="list-group mb-2" id="list-target-tasks"></ul>
                        {% if form.target_tasks.errors %}
                            <div class="invalid-feedback">{{ form.target_tasks.errors }}</div>
                        {% endif %}
                        <script>
                            document.addEventListener('DOMContentLoaded', () => {
                                const search = document.querySelector('#{{ form.target_tasks.id_for_label }}');
                                const menu = search.nextElementSibling;
                                const list = document.querySelector('#list-target-tasks');
                                const searchController = new SearchController();
                                search.addEventListener(
                                    'input',
                                    e => {
                                        searchController.search(e.target.value)
                                            .then(
                                                tasks => {
                                                    menu.innerHTML = '';
                                                    for (const task of tasks) {
                                                        const item = document.createElement('button');
                                                        item.className = 'dropdown-item';
                                                        item.setAttribute('type', 'button');
                                                        item.setAttribute('data-id', task.id);
                                                        item.innerHTML = `#${task.id} ${task.text}`;
                                                        item.addEventListener(
                                                            'click',
                                                            e => {
                                                                let item = list.querySelector(`[data-id="${task.id}"]`);
                                                                if (item) return;

                                                                item = document.createElement('li');
                                                                item.className = 'list-group-item d-flex justify-content-between align-items-center';
                                                                item.setAttribute('data-id', task.id);
                                                                item.innerHTML = `
                                                                <input type="hidden" name="target_tasks" value="${task.id}" />
                                                                #${task.id} ${task.text}
                                                                `;

                                                                const remove = document.createElement('button');
                                                                remove.setAttribute('type', 'button');
                                                                remove.className = 'btn btn-danger btn-sm';
                                                                remove.innerHTML = '<span class="oi oi-x"></span>';
                                                                remove.addEventListener('click', e => item.remove());

                                                                item.appendChild(remove);
                                                                list.appendChild(item);
                                                            },
                                                        );
                                                        menu.appendChild(item);
                                                    }
                                                }
                                            );
                                    }
                                );
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.priority.label_tag }}
                {% for prior in form.priority %}
                    <div class="form-check">
                        {{ prior.tag }}
                        <label for="{{ prior.id_for_label }}">{{ prior.choice_label }}</label>
                    </div>
                {% endfor %}
                {% if form.priority.errors %}
                    <div class="invalid-feedback">{{ form.priority.errors }}</div>
                {% endif %}
            </div>
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
    </div>
{% endblock %}
