{% extends 'tasks/base.html' %}

{% load core_extras %}

{% block content %}
    <div class="container py-3">
        {% if 'error' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ request.GET.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    #{{ task.id }}
                    {% if task.priority == 'TaskPriority.CRITICAL' %}
                        <span class="badge badge-danger">CRITICAL</span>
                    {% elif task.priority == 'TaskPriority.IMPORTANT' %}
                        <span class="badge badge-warning">IMPORTANT</span>
                    {% elif task.priority == 'TaskPriority.NORMAL' %}
                        <span class="badge badge-primary">NORMAL</span>
                    {% elif task.priority == 'TaskPriority.LOW' %}
                        <span class="badge badge-secondary">LOW</span>
                    {% endif %}
                    {% if task.completed %}<span class="badge badge-pill badge-success"><small class="oi oi-check"></small> completed</span>{% endif %}
                    {% if task.archived %}<span class="badge badge-pill badge-info"><small class="oi oi-box"></small> archived</span>{% endif %}
                </h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Time:</div>
                        <div class="col">
                            {{ task.from_time }}{% if task.to_time %} - {{ task.to_time }}{% endif %}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Labels:</div>
                        <div class="col">
                            <ul class="list-inline">
                                {% for label in task.labels %}
                                    <li class="list-inline-item"><span class="badge badge-pill badge-primary">{{ label }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Members:</div>
                        <div class="col">
                            <ul class="list-inline">
                                {% for member in task.members %}
                                    <li class="list-inline-item"><span class="badge badge-pill badge-primary"><small class="oi oi-person"></small> {{ member }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Created:</div>
                        <div class="col">
                            {{ task.created_at }}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Updated:</div>
                        <div class="col">
                            {{ task.updated_at }}
                        </div>
                    </div>
                </li>
                {% if task.blocking_tasks %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col col-2">Blocking tasks:</div>
                            <div class="col">
                                <ul class="list-inline">
                                    {% for blocking_task in task.blocking_tasks %}
                                        <li class="list-inline-item">{% include 'tasks/compact_snippet.html' with task=blocking_task %}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
                {% if task.target_tasks %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col col-2">Target tasks:</div>
                            <div class="col">
                                <ul class="list-inline">
                                    {% for target_task in task.target_tasks %}
                                        <li class="list-inline-item">{% include 'tasks/compact_snippet.html' with task=target_task %}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <div class="card-body">
                {{ task.text }}
            </div>
            <div class="card-body">
                {% if task.completed %}
                    <a class="btn btn-primary" href="{% url 'tasks:uncomplete' task.id %}?next={{ request.path }}">Uncomplete</a>
                {% else %}
                    <a class="btn btn-success{% if not task.blocking_tasks|all_completed %} disabled{% endif %}" href="{% url 'tasks:complete' task.id %}?next={{ request.path }}">Complete</a>
                {% endif %}
                {% if task.archived %}
                    <a class="btn btn-primary" href="{% url 'tasks:unarchive' task.id %}?next={{ request.path }}">Unarchive</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'tasks:archive' task.id %}?next={{ request.path }}">Archive</a>
                {% endif %}
                <div class="dropdown d-inline-block">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="share-task-{{ task.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share</button>
                    <div class="dropdown-menu p-4" aria-labelledby="share-task-{{ task.id }}">
                        {% include 'tasks/share_snippet.html' with task=task next=request.path users=users %}
                    </div>
                </div>
                <a class="btn btn-danger" href="{% url 'tasks:delete' task.id %}">Delete</a>
                <a href="{% url 'tasks:edit' task.id %}?next={{ request.path }}" class="btn btn-link">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}
