{% extends 'tasks/base.html' %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
    <script src="{% static 'tasks/search.js' %}"></script>
    <div class="container py-3">
        {% if 'error' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ request.GET.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="dropdown">
            <input type="text" class="form-control mb-2" id="search" placeholder="Task search query" data-toggle="dropdown" autocomplete="off">
            <div class="dropdown-menu" style="width: 100%;"></div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const search = document.querySelector('#search');
                const menu = search.nextElementSibling;
                const searchController = new SearchController();
                search.addEventListener(
                    'input',
                    e => {
                        searchController.search(e.target.value)
                            .then(
                                tasks => {
                                    menu.innerHTML = '';
                                    for (const task of tasks) {
                                        const item = document.createElement('a');
                                        item.className = 'dropdown-item';
                                        item.setAttribute('href', `/tasks/${task.id}/`);
                                        item.innerHTML = `#${task.id} ${task.text}`;
                                        menu.appendChild(item);
                                    }
                                }
                            );
                    }
                );
            });
        </script>
        <h3>Tasks</h3>
        {% include 'tasks/list_snippet.html' with tasks=tasks %}
        <a class="btn btn-primary" href="{% url 'tasks:create' %}">Add task</a>
    </div>
{% endblock %}
