{% load core_extras %}

<table class="table">
    {% if tasks %}
        <tbody>
            {% for task in tasks %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'tasks:detail' task.id %}">#{{ task.id }}</a>
                        {% if task.priority == 'TaskPriority.CRITICAL' %}
                            <span class="badge badge-danger">CRITICAL</span>
                        {% elif task.priority == 'TaskPriority.IMPORTANT' %}
                            <span class="badge badge-warning">IMPORTANT</span>
                        {% elif task.priority == 'TaskPriority.NORMAL' %}
                            <span class="badge badge-primary">NORMAL</span>
                        {% elif task.priority == 'TaskPriority.LOW' %}
                            <span class="badge badge-secondary">LOW</span>
                        {% endif %}
                        {% if task.blocking_tasks %}<span class="badge badge-pill badge-primary"><small class="oi oi-lock-locked"></small> {{ task.blocking_tasks|length }}</span>{% endif %}
                        {% if task.target_tasks %}<span class="badge badge-pill badge-primary"><small class="oi oi-flash"></small> {{ task.target_tasks|length }}</span>{% endif %}
                        {% if task.completed %}<span class="badge badge-pill badge-success"><small class="oi oi-check"></small> completed</span>{% endif %}
                        {% if task.archived %}<span class="badge badge-pill badge-info"><small class="oi oi-box"></small> archived</span>{% endif %}
                    </th>
                    <td><a href="{% url 'tasks:detail' task.id %}">{{ task.text|truncatechars:50 }}</a></td>
                    <td>
                        {{ task.from_time }}{% if task.to_time %} - {{ task.to_time }}{% endif %}
                    </td>
                    <td>
                        <ul class="list-inline">
                            {% for label in task.labels %}
                                <li class="list-inline-item"><span class="badge badge-pill badge-primary">{{ label }}</span></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul class="list-inline">
                            {% for member in task.members %}
                                <li class="list-inline-item"><span class="badge badge-pill badge-primary"><small class="oi oi-person"></small> {{ member }}</span></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if task.completed %}
                            <a class="btn btn-primary" href="{% url 'tasks:uncomplete' task.id %}?next={{ request.path }}">Uncomplete</a>
                        {% else %}
                            <a class="btn btn-success{% if not task.blocking_tasks|all_completed %} disabled{% endif %}" href="{% url 'tasks:complete' task.id %}?next={{ request.path }}">Complete{% if task.target_tasks %} <span class="badge badge-light"><small class="oi oi-flash"></small> {{ task.target_tasks|length }}</span>{% endif %}</a>
                        {% endif %}
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-link" type="button" id="task-menu-{{ task.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="oi oi-menu"></span></button>
                            <div class="dropdown-menu" aria-labelledby="task-menu-{{ task.id }}">
                                <a class="dropdown-item" href="{% url 'tasks:edit' task.id %}?next={{ request.path }}"><span class="oi oi-pencil"></span> Edit</a>
                                {% if task.archived %}
                                    <a class="dropdown-item" href="{% url 'tasks:unarchive' task.id %}?next={{ request.path }}"><span class="oi oi-box"></span> Unarchive</a>
                                {% else %}
                                    <a class="dropdown-item" href="{% url 'tasks:archive' task.id %}?next={{ request.path }}"><span class="oi oi-box"></span> Archive</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'tasks:delete' task.id %}?next={{ request.path }}"><span class="oi oi-trash"></span> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <div class="alert alert-primary">No tasks in this list</div>
    {% endif %}
</table>
