<form action="{% url 'tasks:share' task.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="member-input-{{ task.id }}">Share with:</label>
        <select class="form-control" name="member" id="member-input-{{ task.id }}">
            {% for user in users %}
                <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="hidden" value="{{ next }}">
    <input class="btn btn-primary" type="submit" value="Share">
</form>
