{% extends 'core/base.html' %}

{% block content %}
    <div class="container py-3">
        {% if 'error' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ request.GET.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <h3>Today</h3>
            {% include 'tasks/list_snippet.html' with tasks=today_tasks %}
            <h3>Week</h3>
            {% include 'tasks/list_snippet.html' with tasks=week_tasks %}
            <h3>Plans</h3>
            {% include 'plans/list_snippet.html' with plans=plans %}
        {% else %}
            <p>Welcome to ti.me. Please <a href="{% url 'core:login' %}">log in</a> or <a href="{% url 'core:signup' %}">sign up</a>.</p>
        {% endif %}
    </div>
{% endblock %}
