{% extends 'core/base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container py-3">
        <form method="POST" action="{% url 'core:login' %}">
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if field.errors %}
                        {{ field|add_class:'form-control is-invalid' }}
                        <div class="invalid-feedback">{{ field.errors }}</div>
                    {% else %}
                        {{ field|add_class:'form-control' }}
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Log in</button> or <a href="{% url 'core:signup' %}">sign up</a>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
{% endblock %}
