<a class="badge badge-pill
    {% if planned_task.priority == 'TaskPriority.CRITICAL' %}
        badge-danger
    {% elif planned_task.priority == 'TaskPriority.IMPORTANT' %}
        badge-warning
    {% elif planned_task.priority == 'TaskPriority.NORMAL' %}
        badge-primary
    {% elif planned_task.priority == 'TaskPriority.LOW' %}
        badge-secondary
    {% endif %}
" href="{% url 'planned_tasks:detail' planned_task.id %}">
    #{{ planned_task.id }}
    {% if planned_task.completed %}<small class="oi oi-check"></small>{% endif %}
    {% if planned_task.archived %}<small class="oi oi-box"></small>{% endif %}
    {{ planned_task.text|truncatechars:20 }}
    <small class="oi oi-timer"></small> #{{ planned_task.plan_id }}
    {% if planned_task.labels %}<small class="oi oi-tags"></small> {{ planned_task.labels|length }}{% endif %}
    {% if planned_task.members %}<small class="oi oi-people"></small> {{ planned_task.members|length }}{% endif %}
    {% if planned_task.blocking_tasks %}<small class="oi oi-lock-locked"></small> {{ planned_task.blocking_tasks|length }}{% endif %}
    {% if planned_task.target_tasks %}<small class="oi oi-flash"></small> {{ planned_task.target_tasks|length }}{% endif %}
</a>
