{% extends 'planned_tasks/base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container py-3">
        <form action="{% url 'planned_tasks:create' %}" method="POST">
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% csrf_token %}
            <div class="form-group">
                {{ form.text.label_tag }}
                {% if form.text.errors %}
                    {{ form.text|add_class:'form-control is-invalid'|attr:'rows:3' }}
                    <div class="invalid-feedback">{{ form.text.errors }}</div>
                {% else %}
                    {{ form.text|add_class:'form-control'|attr:'rows:3' }}
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ form.from_time.label_tag }}
                        {% if form.from_time.errors %}
                            {{ form.from_time|add_class:'form-control is-invalid'|attr:'placeholder:1 weeks 11 hours 3 days' }}
                            <div class="invalid-feedback">{{ form.from_time.errors }}</div>
                        {% else %}
                            {{ form.from_time|add_class:'form-control'|attr:'placeholder:1 weeks 11 hours 3 days' }}
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form.to_time.label_tag }}
                        {% if form.to_time.errors %}
                            {{ form.to_time|add_class:'form-control is-invalid'|attr:'placeholder:1 weeks 11 hours 3 days' }}
                            <div class="invalid-feedback">{{ form.to_time.errors }}</div>
                        {% else %}
                            {{ form.to_time|add_class:'form-control'|attr:'placeholder:1 weeks 11 hours 3 days' }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.labels.label_tag }}
                {% if form.labels.errors %}
                    {{ form.labels|add_class:'form-control is-invalid'|attr:'placeholder:label.sublabel labs.tas edu.tas' }}
                    <div class="invalid-feedback">{{ form.labels.errors }}</div>
                {% else %}
                    {{ form.labels|add_class:'form-control'|attr:'placeholder:label.sublabel labs.tas edu.tas' }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.members.label_tag }}
                {% if form.members.errors %}
                    {{ form.members|add_class:'form-control is-invalid' }}
                    <div class="invalid-feedback">{{ form.members.errors }}</div>
                {% else %}
                    {{ form.members|add_class:'form-control' }}
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ form.blocking_tasks.label_tag }}
                        {% if form.blocking_tasks.errors %}
                            {{ form.blocking_tasks|add_class:'form-control is-invalid' }}
                            <div class="invalid-feedback">{{ form.blocking_tasks.errors }}</div>
                        {% else %}
                            {{ form.blocking_tasks|add_class:'form-control' }}
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form.target_tasks.label_tag }}
                        {% if form.target_tasks.errors %}
                            {{ form.target_tasks|add_class:'form-control is-invalid' }}
                            <div class="invalid-feedback">{{ form.target_tasks.errors }}</div>
                        {% else %}
                            {{ form.target_tasks|add_class:'form-control' }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.priority.label_tag }}
                {% for prior in form.priority %}
                    <div class="form-check">
                        {{ prior.tag }}
                        <label for="{{ prior.id_for_label }}">{{ prior.choice_label }}</label>
                    </div>
                {% endfor %}
                {% if form.priority.errors %}
                    <div class="invalid-feedback">{{ form.priority.errors }}</div>
                {% endif %}
            </div>
            {% render_field form.plan_id type='hidden' %}
            <input class="btn btn-primary" type="submit" value="Create">
        </form>
    </div>
{% endblock %}
