{% extends 'planned_tasks/base.html' %}

{% load core_extras %}

{% block content %}
    <div class="container py-3">
        {% if 'error' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ request.GET.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    #{{ planned_task.id }}
                    {% if planned_task.priority == 'TaskPriority.CRITICAL' %}
                        <span class="badge badge-danger">CRITICAL</span>
                    {% elif planned_task.priority == 'TaskPriority.IMPORTANT' %}
                        <span class="badge badge-warning">IMPORTANT</span>
                    {% elif planned_task.priority == 'TaskPriority.NORMAL' %}
                        <span class="badge badge-primary">NORMAL</span>
                    {% elif planned_task.priority == 'TaskPriority.LOW' %}
                        <span class="badge badge-secondary">LOW</span>
                    {% endif %}
                    {% if planned_task.completed %}<span class="badge badge-pill badge-success"><small class="oi oi-check"></small> completed</span>{% endif %}
                    {% if planned_task.archived %}<span class="badge badge-pill badge-info"><small class="oi oi-box"></small> archived</span>{% endif %}
                </h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Plan:</div>
                        <div class="col">
                            {% include 'plans/compact_snippet.html' with plan=planned_task.plan %}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Time:</div>
                        <div class="col">
                            {{ planned_task.from_time|relativedelta }}{% if planned_task.to_time %} - {{ planned_task.to_time|relativedelta }}{% endif %}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Labels:</div>
                        <div class="col">
                            <ul class="list-inline">
                                {% for label in planned_task.labels %}
                                    <li class="list-inline-item"><span class="badge badge-pill badge-primary">{{ label }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Members:</div>
                        <div class="col">
                            <ul class="list-inline">
                                {% for member in planned_task.members %}
                                    <li class="list-inline-item"><span class="badge badge-pill badge-primary"><small class="oi oi-person"></small> {{ member }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                {% if planned_task.blocking_tasks %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col col-2">Blocking tasks:</div>
                            <div class="col">
                                <ul class="list-inline">
                                    {% for blocking_task in planned_task.blocking_tasks %}
                                        <li class="list-inline-item">{% include 'planned_tasks/compact_snippet.html' with planned_task=blocking_task %}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
                {% if planned_task.target_tasks %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col col-2">Target tasks:</div>
                            <div class="col">
                                <ul class="list-inline">
                                    {% for target_task in planned_task.target_tasks %}
                                        <li class="list-inline-item">{% include 'planned_tasks/compact_snippet.html' with planned_task=target_task %}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <div class="card-body">
                {{ planned_task.text }}
            </div>
            <div class="card-body">
                <a class="btn btn-danger" href="{% url 'planned_tasks:delete' planned_task.id %}">Delete</a>
                <a href="{% url 'planned_tasks:edit' planned_task.id %}?next={{ request.path }}" class="btn btn-link">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}
