{% if request.user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item{% if active_tab == 'home' %} active{% endif %}">
            <a class="nav-link" href="{% url 'core:index' %}">Home{% if active_tab == 'home' %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item{% if active_tab == 'tasks' %} active{% endif %}">
            <a class="nav-link" href="{% url 'tasks:index' %}">Tasks{% if active_tab == 'tasks' %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        <li class="nav-item{% if active_tab == 'plans' %} active{% endif %}">
            <a class="nav-link" href="{% url 'plans:index' %}">Plans{% if active_tab == 'plans' %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
    </ul>
    <span class="mr-3 navbar-text">{{ request.user.username }}</span>
    <a class="mr-3" href="{% url 'plans:check' %}?next={{ request.path }}"><span class="oi oi-reload"></span></a>
    <a href="{% url 'core:logout' %}"><span class="oi oi-account-logout"></span></a>
{% else %}
    <div class="mr-auto"></div>
    <a href="{% url 'core:login' %}"><span class="oi oi-account-login"></span></a>
{% endif %}
