{% load core_extras %}

<a class="badge badge-pill badge-primary" href="{% url 'plans:detail' plan.id %}">
    #{{ plan.id }}
    <small class="oi oi-clock"></small> {{ plan.delta|relativedelta|truncatechars:20 }}
    <small class="oi oi-reload"></small> {{ plan.last_count }}{% if plan.count is not None %} / {{ plan.count }}{% endif %}
    {% if plan.planned_tasks %}<small class="oi oi-layers"></small> {{ plan.planned_tasks|length }}{% endif %}
</a>
