{% extends 'plans/base.html' %}

{% load core_extras %}

{% block content %}
    <div class="container py-3">
        {% if 'error' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ request.GET.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    #{{ plan.id }}
                </h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Delta:</div>
                        <div class="col">
                            {{ plan.delta|relativedelta }}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Time:</div>
                        <div class="col">
                            {{ plan.from_time }}{% if plan.to_time %} - {{ plan.to_time }}{% endif %}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Last time:</div>
                        <div class="col">
                            {{ plan.last_time }}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-2">Last count:</div>
                        <div class="col">
                            {{ plan.last_count }}{% if plan.count is not None %} / {{ plan.count }}{% endif %}
                        </div>
                    </div>
                </li>
                {% if plan.planned_tasks %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col col-2">Planned tasks:</div>
                            <div class="col">
                                <ul class="list-inline">
                                    {% for planned_task in plan.planned_tasks %}
                                        <li class="list-inline-item">{% include 'planned_tasks/compact_snippet.html' with plan=planned_task %}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <div class="card-body">
                <a class="btn btn-primary" href="{% url 'planned_tasks:create' %}?plan_id={{ plan.id }}&next={{ request.path }}">Plan task</a>
                <a class="btn btn-danger" href="{% url 'plans:delete' plan.id %}">Delete</a>
                <a href="{% url 'plans:edit' plan.id %}?next={{ request.path }}" class="btn btn-link">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}
