{% extends 'plans/base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container py-3">
        <form action="{% url 'plans:edit' plan.id %}" method="POST">
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% csrf_token %}
            <div class="form-group">
                {{ form.delta.label_tag }}
                {% if form.delta.errors %}
                    {{ form.delta|add_class:'form-control is-invalid'|attr:'placeholder:1 weeks 11 hours 3 days' }}
                    <div class="invalid-feedback">{{ form.delta.errors }}</div>
                {% else %}
                    {{ form.delta|add_class:'form-control'|attr:'placeholder:1 weeks 11 hours 3 days' }}
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ form.from_time.label_tag }}
                        {% if form.from_time.errors %}
                            {{ form.from_time|add_class:'form-control mb-2 is-invalid' }}
                            <div class="invalid-feedback">{{ form.from_time.errors }}</div>
                        {% else %}
                            {{ form.from_time|add_class:'form-control mb-2' }}
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form.to_time.label_tag }}
                        {% if form.to_time.errors %}
                            {{ form.to_time|add_class:'form-control mb-2 is-invalid' }}
                            <div class="invalid-feedback">{{ form.to_time.errors }}</div>
                        {% else %}
                            {{ form.to_time|add_class:'form-control mb-2' }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form.count.label_tag }}
                {% if form.count.errors %}
                    {{ form.count|add_class:'form-control is-invalid'|attr:'placeholder:10' }}
                    <div class="invalid-feedback">{{ form.count.errors }}</div>
                {% else %}
                    {{ form.count|add_class:'form-control'|attr:'placeholder:10' }}
                {% endif %}
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
