{% extends 'plans/base.html' %}

{% block content %}
    <div class="container py-3">
        {% if 'error' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ request.GET.error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <h3>Plans</h3>
        {% include 'plans/list_snippet.html' with plans=plans %}
        <a class="btn btn-primary" href="{% url 'plans:create' %}">Add plan</a>
    </div>
{% endblock %}
