{% load core_extras %}

<table class="table">
    {% if plans %}
        <tbody>
            {% for plan in plans %}
                <tr>
                    <th scope="row">
                        <a href="{% url 'plans:detail' plan.id %}">#{{ plan.id }}</a>
                    </th>
                    <td><a href="{% url 'plans:detail' plan.id %}">{{ plan.delta|relativedelta }}</a></td>
                    <td>
                        {{ plan.from_time }}{% if plan.to_time %} - {{ plan.to_time }}{% endif %}
                    </td>
                    <td>
                        {% if plan.last_count %}
                            Last check at {{ plan.last_time }}
                        {% else %}
                            Never checked
                        {% endif %}
                    </td>
                    <td>Checked {{ plan.last_count }}{% if plan.count is not None %} / {{ plan.count }}{% endif %} times</td>
                    <td>
                        <ul class="list-inline">
                            {% for planned_task in plan.planned_tasks %}
                                <li class="list-inline-item">{% include 'planned_tasks/compact_snippet.html' with planned_task=planned_task %}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-link" type="button" id="plan-menu-{{ plan.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="oi oi-menu"></span></button>
                            <div class="dropdown-menu" aria-labelledby="plan-menu-{{ plan.id }}">
                                <a class="dropdown-item" href="{% url 'planned_tasks:create' %}?plan_id={{ plan.id }}&next={{ request.path }}"><span class="oi oi-plus"></span> Plan task</a>
                                <a class="dropdown-item" href="{% url 'plans:edit' plan.id %}?next={{ request.path }}"><span class="oi oi-pencil"></span> Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'plans:delete' plan.id %}?next={{ request.path }}"><span class="oi oi-trash"></span> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <div class="alert alert-primary">No plans in this list</div>
    {% endif %}
</table>
